@charset "UTF-8";

@import url("normalize.css"); /* ------- Reset all CSS Styles */

/********************
共通
******************************/
* {
  box-sizing: border-box;
}
/* https://developer.mozilla.org/ja/docs/Web/CSS/box-sizing */

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;

    background-position: center center;/* 上下左右の中央配置 */
    background-size: cover;/* 表示領域（コンテナ）の大きさに基づいて調整 */
    background-repeat: no-repeat;/* 繰り返し表示をしない */
    background-attachment: fixed;/* 表示領域（コンテナ）の大きさが画像より大きいとき動かないように固定 */
    background-color: #0051a8;/* 背景画像が読み込む前（読み込まれないとき）に表示される色指定 */
}

/* 共通　大枠 */
.wrapper {
  margin: 0 auto;
  background: url(../images/main.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
}
.wrapper_second {
  margin: 0 auto;

}

/* 共通　ヘッダー・メインナビゲーション */
.header_logo {
  background-color: #0051a8;
  width: 100%;
  margin: 0 auto;
  line-height: 0;
}
.header_logo h1 {
  margin: 0;
}
.header_logo img {
  width: 190px;
  margin-left: 60px;
}

.header {
  width: 100%;
  height: 0;
  padding-top: 85.5%;
  position: relative;
}

.header_second {

}

.header_wrapper {
  height: 43px;
  width: 100%;
  min-width: 900px;
  background-image: url(../images/nav_back.png);
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
}

.nav_main {
  width: 860px;
  margin: 0 auto;
  overflow: hidden;
  height: 40px;
  padding-left: 40px;
}
.nav_main ul {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.nav_main ul li {
  font-size: 28px;
  font-weight: bold;
}
.nav_main ul li a {
  color: #87ceeb;
  text-decoration: none;
  transition: 0.2s;
}
.nav_main ul li a:hover {
  color: #4682b4;
}
/* 共通　フッター */
.footer {
  width: 100%;
  height: 200px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(0,0,0,0.6);
}
.nav_footer {
  width: 100%;
}
.nav_footer ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
}
.nav_footer ul li {
  margin: 0 40px;
  font-size: 28px;
  font-weight: bold;
}
.nav_footer ul li a {
  color: #87ceeb;
  text-decoration: none;
  transition: 0.3s;
}
.nav_footer ul li a:hover {
  color: #d1d6c0;
}
.copyright {
  color: #87ceeb;
}
/********************
index.html
**************************************************/
/* index.html　メインビジュアル */
.title-logo {
  transform: translate(0,-300px);
  margin: auto;
  width: 54%;
  min-width: 466px;
  max-width: 890px;
}
/* 背景画像 */
.bg01{
  position: relative;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  z-index: 1;
  background-image: url(../images/back_img1.jpg);
}
.bg02{
  position: relative;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  z-index: 1;
  background-image: url(../images/back_img2.jpg);
}
.bg04{
  position: relative;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  z-index: 1;
  background-image: url(../images/back_img4.jpg);
}

/* index.html イントロエリア部分 */
.intro_area {
  transform: translate(0,-300px);
  width: 960px;
  margin: 40px auto;

  margin-top: 0;
  margin-bottom: 0;
  padding: 40px;
  background-color: rgba(0,0,0,0.8);

}
.intro_area p {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.75;
}
/* index.html バナーエリア */
.feature_area {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.8);
}
.feature_area_section {
  width: 30%;
  padding: 20px;
}
.feature_area_section h2 {
  margin: 5px;
  font-size: 44px;
  text-align: center;
}
.feature_area_section img {
  width: 100%;
}
.feature_area_section a {
  color:  #87ceeb;
  text-decoration: none;
  transition: 0.3s;
}
.feature_area_section a img {
  transition: opacity 0.3s;
}
.feature_area_section a:hover {
  color: #4682b4;
}
.feature_area_section a:hover img {
  opacity: 0.6;
}
/********************
その他のページ
**************************************************/
/* 共通部分 */
.inner{
  width: 900px;
  margin: 0 auto;
  font-size: 100%;
  text-align: center;
}
.inner p {
  margin: 0;
  padding: 0;
  color: #fff;
}

/* ストーリーページ */
.story {
  margin-top: -20px;
  padding-top: 20px;
}
.story h2 {
  text-align: center;
  margin: 45px auto 5px;
  width: 900px;
}
/* ハイライトページ */
.highlight {
  margin-top: -20px;
  padding-top: 20px;
}
.highlight h2 {
  text-align: center;
  margin: 45px auto 5px;
  width: 900px;
}
.highlight p {
  text-align: center;
  margin: 45px auto 5px;
  width: 900px;
}
/* キャラクターページ */
.staff_inner {
  width: 435px;
  margin-right: 30px;
  float: left;
}
ol, ul, li, dl, dt, dd {
  list-style: none;
  margin: 0;
  padding: 0;
}
dl, dt {
  color: #fff;
}
dd {
  color: #ffff00;
}
.cast_inner {
  width: 435px;
  float: right;
}
